// div[class*="language-"] pre, pre[class*="language-"]  {
//   background-color: #282c34!important;
// }

div[class*=language-] {
  background: transparent;
}

div[class*="language-"] pre[class*="language-"] {
    background: #282c34!important;
    position: relative;
    z-index: 1;
}