// div[class*="language-"] pre, pre[class*="language-"]  {
//   background-color: #282c34!important;
// }

div[class*=language-] {
  background: transparent;
}

div[class*="language-"] pre[class*="language-"] {
  // 有背景色
  background: #282c34!important;
  position: relative;
  z-index: 1;
  overflow: scroll !important;
  word-wrap: normal !important;
  word-break: normal !important;
  width: 100%;
  max-width: auto!important;
}

pre[class*=language-] code {
  // white-space: pre !important;
  display: block;
  word-wrap: normal !important;
  word-break: normal !important;
  overflow: auto !important;
  max-width: 800px!important;
  width: 800px!important;
}

pre[class*=language-] code * {
  white-space: nowrap !important
  word-wrap: normal !important;
  word-break: normal !important;
}

p {
  margin: 1rem 0!important;
}

